.avatar-header {
  display: flex;
  /* height: 520px; */
  width: 100%;
  padding-top: 170px;
  padding-bottom: 20px;
  background-color: #e39000;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

