  
article {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid #545149;
    padding: 10px;
  }
  
  article:hover {
    box-shadow: 8px 8px 1px rgba(0, 0, 255, .2);;
  }
  
  hr {
    border: 2px solid #545149;
  }
  
  article header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  
  }
  
  article p {
    font-weight: 600;
    padding: 0 15px 15px 15px;
  }
  
  article footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0 10px 10px 10px;
    
  }
  
  .username {
    opacity: 0.5;
  }
  
  .image-profile {
    display: flex;
    align-items: center;
  }
  
  .user-image {
    margin-right: 10px;
  }
  
  article i{
    color: #4056A1;
    size: 1.5em;
    margin-left: 5px;
  }
  
  article i:hover {
    color: #de9f00;
   
 }

 section.tweets {
    padding: 20px;
    margin: 50px 0px;
   }
  
  